@import "/src/App.scss";

.PostView {
  position: relative;
  display: grid;
  grid-template-columns: 100%;

  @include tablet {
    justify-content: space-around;
    grid-template-rows: 3rem auto 3rem;
    gap: 1rem;
  }
  @include desktop {
    justify-content: space-around;
    grid-template-columns: 22% 54% 20%;
    gap: 1rem;
  }

  & .current-post {
    @include mobile {
      // height: 100vh;
      margin-top: 4px;

      .Post {
        margin: 0 -16px 4rem;
        border-radius: 0;
      }
    }
  }
}
