@import "/src/App.scss";

.PostView {
  position: relative;
  display: grid;

  @include tablet {
    justify-content: space-around;
    grid-template-rows: 3rem auto 3rem;
    gap: 1rem;
  }
  @include desktop {
    justify-content: space-around;
    grid-template-columns: 20rem 36rem 18rem;
    gap: 1rem;
  }

  & .current-post {
    @include mobile {
      height: 100vh;
    }
  }
}
