@import "/src/App.scss";

.RightSide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include mobile {
        position: fixed;
        z-index: 10;
        left: 0rem;
        right: 0rem;
        bottom: 0;
        padding: 0.4rem 1.6rem 0.6rem 1.6rem;
        background-color: #fff;
    }
    @include tablet {
        position: fixed;
        z-index: 10;
        left: 0rem;
        right: 0rem;
        bottom: 0;
        padding: 0.4rem 1.6rem 0.6rem 1.6rem;
        background-color: #fff;
    }

    & .navIcons {
        margin-top: 0.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & svg {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
        }

        & img {
            width: 1.3rem;
            height: 1.3rem;
            cursor: pointer;
        }

        & .noti-side {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }
    }

    & .trend-card {
        @include mobile {
            display: none;
        }
        @include tablet {
            display: none;
        }
    }

    & .right-share-btn {
        height: 3rem;
        width: 80%;
        align-self: center;

        @include mobile {
            display: none;
        }
        @include tablet {
            display: none;
        }
    }
}