@import "/src/App.scss";

.PostSide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // height: 100vh;
  // align-items: center;
  // width: 80%;
  overflow-y: auto;
  @include mobile {
    margin-bottom: 3rem;
  }
  // @include tablet {
  //   margin-bottom: 3rem;
  // }
}
