.post-comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .profile-img {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ebebeb;
  }

  & .share-comment {
    display: flex;
    gap: 0.6rem;
    align-items: center;

    & .comment-form {
      flex: 1;
      background-color: var(--inputColor);
      border-radius: 12px;
      padding: 10px 14px;
      display: flex;
      align-items: center;
      & .comment-input {
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
      }
      & .submit-btn {
        color: var(--orange);
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  & .comment-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .post-comment {
      display: flex;
      gap: 0.6rem;

      & .comment-detail {
        flex: 1;

        & .comment-text {
          font-size: 14px;
          padding: 8px 14px;
          border-radius: 12px;
          background-color: var(--inputColor);

          & .author-name {
            font-weight: 600;
            display: block;
            margin-bottom: 8px;
          }

          & .comment-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & div {
              flex: 1;
              margin-right: 1rem;
            }
            & img {
              width: 0.8rem;
              cursor: pointer;
            }
          }
        }
        & .comment-react {
          padding: 6px 14px 0;
          font-size: 12px;
          color: var(--gray);

          & .like-num {
            cursor: pointer;
          }
        }
      }
    }
  }
}
