:root {
  --yellow: #f5c32c;
  --base-color: #f95f35;
  --orange: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: rgba(0, 0, 0, 0.15);
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4cb256;
  --video: #4a4eb7;
  --location: #ef5757;
  --schedule: #e1ae4a;
  --borderColor: rgba(0, 0, 0, 0.12);
}

/* Mixin */
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px;
$tablet-width: 641px;
$desktop-width: 1024px;
$desktop-width-xl: 1580px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$desktop-width-xl}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.App {
  overflow: hidden;
  overflow-y: scroll;
  color: var(--black);
  background: #f3f3f3f3;
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @include tablet {
    padding-top: 0;
  }
  @include mobile {
    padding-top: 0;
  }

  .container {
    width: 100%;
    @include large-desktop {
      max-width: 1600px;
    }
  }
}

// custom
.hover__item:hover {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
}

.box__shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: #a6ddf0;
  filter: blur(72px);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  color: var(--orange);
  background: transparent;
  opacity: 0.8s;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--orange);
}

.button:disabled {
  background-color: grey;
  pointer-events: none;
}

.follow-btn {
  width: 76px;
}

.unfollow-btn {
  color: var(--orange);
  border: 2px solid var(--orange);
  background: transparent;
}

// flex
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

// input
.info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  @include mobile {
    gap: 1rem;
  }

  & > .input-group {
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 2rem;
    width: 100%;

    @include mobile {
      flex-direction: column;
      height: auto;
    }

    & > .input-item {
      height: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      gap: 0.2rem;

      & .input-label {
        font-size: 12px;
        padding-left: 8px;
      }

      & .info-input {
        border: none;
        outline: none;
        background-color: var(--inputColor);
        border-radius: 8px;
        padding: 10px 20px;
      }
    }
    & > .info-input {
      border: none;
      outline: none;
      background-color: var(--inputColor);
      border-radius: 8px;
      padding: 20px;
      flex: 1;
    }
  }
  & .info-text {
    font-size: 12px;
  }
  & .info-btn {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
  }
}

// tooltip popover
.nav__tooltip-content {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  gap: 1rem;
  min-width: 200px;
  max-height: 300px;
  overflow-y: scroll;
}
.popover__list-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.popover__item {
  display: flex;
  flex-direction: row;
  padding: 4px;
  border-radius: 4px;
  gap: 8px;
  // border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

  @include desktop {
    border-bottom: none;
  }

  &:hover {
    background-color: var(--hrColor);
  }

  & .pop__item-avt {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
  }

  & .pop__item-content {
    display: flex;
    flex: 1;
    gap: 6px;
    flex-direction: column;
    font-size: 14px;

    & .pop__item-desc {
    }

    & .pop__item-desc-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & .pop__item-time {
      font-size: 12px;
      color: var(--gray);
      padding-right: 4px;
    }
  }

  & .post-thumb {
    width: 50px;
    height: 50px;
    overflow: hidden;
    @include desktop {
      width: 2.6rem;
      height: 2.6rem;
    }

    img,
    video {
      width: 100%;
      height: 100%;
    }
  }
  & .post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
