@import "/src/App.scss";

.ProfileCard {
  width: 100%;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  overflow-x: clip;
  background: var(--cardColor);
  padding-bottom: 1rem;

  @include mobile {
    margin-top: 10px;
  }

  /* ProfileImages */
  & .ProfileImages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .cover-img {
      width: 100%;
      min-width: 280px;
      height: 12rem;
      max-height: 12rem;
      overflow: hidden;
      object-fit: cover;
      @include mobile {
        height: 8rem;
        max-height: 8rem;
      }
      @include tablet {
        height: 8rem;
        max-height: 8rem;
      }
    }

    & .profile-img {
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      bottom: -3rem;
      border: 1px solid #ebebeb;
      box-shadow: var(--profileShadow);
      &.profile-page {
        @include desktop {
          width: 7rem;
          height: 7rem;
        }
        left: 2rem;
        bottom: -4rem;
        @include mobile {
          left: 1rem;
        }
      }
    }
  }

  /* ProfileName */
  & .ProfileName {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    @include mobile {
      align-items: flex-start;
    }

    &.other-user-profile {
      padding: 0 2rem 0 8.8rem;
      margin-top: 0rem;
      justify-content: space-between;
      @include mobile {
        padding: 0 1rem 0 7.8rem;
      }
      @include desktop {
        padding-left: 9.8rem;
      }
    }

    & .profile-name {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      &.other-user-name {
        align-items: flex-start;
      }

      & .name-text {
        font-weight: bold;
        @include desktop {
          font-weight: 600;
          font-size: 18px;
        }
      }
      .profile-about-text {
        font-style: italic;
        color: var(--gray);
      }
    }

    & .profile__action-btns {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      @include mobile {
        flex-direction: column;
        align-items: flex-end;
        gap: 0.6rem;
      }
    }
  }

  /* FollowStatus */
  & .FollowStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    & > hr {
      width: 85%;
      border: 1px solid var(--hrColor);
    }

    & > .follow-info {
      display: flex;
      gap: 1rem;
      width: 80%;
      justify-content: space-around;
      align-items: center;

      & .follow {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        & > .follow-number {
          font-weight: bold;
        }

        & > .follow-text {
          color: var(--gray);
          font-size: 12px;
        }
      }

      & .separator {
        height: 120%;
        width: 2px;
        background-color: var(--hrColor);
      }
    }
  }

  & .MyProfile {
    font-weight: bold;
    align-self: center;
    // margin-bottom: 1rem;
    cursor: pointer;
  }
}
